//Cores
$bg-default:   #fff; 
$bg-primary:   #480e67; 
$bg-segundary: #7c4182;

$color-default:   #fff; 
$color-primary:   #434242; 
$color-segundary: #480e67;

$font-size-title:   1.5rem; 
$font-size-small:   14px; 
$font-size-medium:  16px;
$font-size-large:   21px; 

//Fontes
$fontPlutoThin:     'PlutoThin';
$fontPlutoLight:    'PlutoLight';
$fontPlutoMedium:   'PlutoMedium';
$fontPlutoRegular:  'PlutoRegular';
$fontPlutoBold:     'PlutoBold';
